<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>navbar}}
        <br>
        
        <div id="top_border">TOURIZM</div>
        <div>
            <form action="/search" method="POST">
            <input id="input1" type="text" placeholder="places....">
            <button type="submit">enter</button>
            </form>
            
        </div>
    </body>
</html>