        <div id="navigation_bar">
            <ul id="ul_1">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/profile">My Profile</a></li>
                 
            </ul>
        </div>